body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./bg.jpeg");
    background-size: cover;
    #root{
        max-width: 1200px;
        margin:0 auto;
        .App{
            width: 100%;
            height: 100vh;
            display: flex;
            nav{
                background-color: rgba(0, 0, 0, 0.8);
                width: 35%;
                display: flex;
                flex-direction: column;
                div{
                    padding:10px;
                    form{
                        input{
                            width: 82%;
                        }
                        input,button{
                            font-size: 2rem;
                        }
                    }
                }
                a{
                    color:white;
                    text-decoration: none;
                    border-radius: 10px;
                    padding:10px;
                    box-shadow: 0px 0px 15px white inset;
                    &:hover{
                        box-shadow: 0px 0px 15px red inset;
                        color:red
                    }
                }
            }
            main{
                background-color: rgba(180, 180, 180, 0.8);
                width: 65%;
            }
        }
    }
}



















/* .App{
    width: 100vw;
    height: 100vh;
    background-image: url(../../public/weather_storm.png);
    background-repeat: none;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.info-box{ */
   
    /* }
.api-div{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "input-section input-section taf"
    "input-section input-section metar"
}
.taf{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: taf;
    background-color: rgb(82,67,106);
    background-color: rgba(0, 0, 0, .6);
    flex-direction: column;
}
.metar{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: metar;
    background-color: rgb(82,67,106);
    background-color: rgba(0, 0, 0, .6);
    flex-direction: column;
}
.input-section{
    grid-area: input-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */
